{% if files %}
    <table class="list-files-table">
        <tr>
            <th>File Name</th>
            <th>Description</th>
            <th>Upload Date</th>
            <th>File Key</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.upload_date }}</td>
                <td>{{ file.key }}</td>
                <td><a href="{% url 'uploader:edit_file' file.id %}">
                        <button class="btn-default btn">Edit</button>
                    </a>
                </td>
                <td><a href="{% url 'uploader:delete_file' file.id %}">
                        <button class="btn-warning btn">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}