{% extends 'base.html' %}

{% block subcontent %}
    <div data-num='0' id="success" class="alert alert-success hidden">
        <span id="success-message"></span>
        <ul id="success-list"></ul>
    </div>

    <div data-num='0' id="failure" class="alert alert-danger hidden">
        <span id="failures-message"></span>
        <ul id="failures-list"></ul>
    </div>


    <br />
    <div id="uploads">
        <div style="max-width: 500px;" class="progress hidden">
          <div class="progress-bar" role="progressbar" style="width:0%">
          </div>
        </div>
    </div>
    <br />
    Select a File <input class="btn btn-default btn-file" id="file-input" type="file" multiple>
    <br />
  <button id="startUpload" class="btn btn-primary">Start Upload</button>



{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url){
      console.log('starting upload for ' + file.name);
      const xhr = new XMLHttpRequest();

      xhr.upload.addEventListener("progress", updateProgress);

      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');
      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            $('#success').removeClass('hidden');
            var num = $('#success').attr('data-num');
            num ++;
            $('#success').attr('data-num', num);
            $('#success-message').html(num + ' File(s) Successfully Uploaded');
            $('#success-list').append('<li>' + file.name + '</li>');
          }
          else{
            $('#failure').removeClass('hidden');
            var num = $('#failure').attr('data-num');
            num ++;
            $('#failure').attr('data-num', num);
            $('#failures-message').html(num + ' File(s) Successfully Uploaded');
            $('#failures-list').append('<li>' + file.name + '</li>');
          }
        }
      };
      xhr.send(postData);
    }

    /*
      Function to monitor the upload progress and update the html to reflect that
    */
    function updateProgress(oEvent) {
        console.log('updateProgress running...');
        $('.progress').removeClass('hidden');
      if (oEvent.lengthComputable) {
        var percentComplete = oEvent.loaded / oEvent.total;
        $('.progress-bar').css('width', (percentComplete)*100+'%').text(Math.floor((percentComplete)*100));
      } else {
        $('.progress-bar').html('Unable to calculate file size... file is uploading...')
      }
    }

    /*
      Function to get the temporary signed request from server.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      console.log('starting getSignedRequest for ' + file.name);
      const xhr = new XMLHttpRequest();
      console.log('making GET');
      xhr.open('GET', `/drinkinggourd/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      console.log('made GET');
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            console.log('xhr.status is 200 for the signed request');
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.data, response.url);
          }
          else{
            alert('Could not get signed URL.');
            console.log('could not get signed url');
          }
        }
      };
      xhr.send();
    }
    /*
       Function called when "Upload" button is clicked. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload() {
        const files = document.getElementById('file-input').files;
        if (files.length <= 0) {
            return alert('No files selected.');
        }
        for (i = 0; i < files.length; i++) {
            var file = files[i];
            console.log('starting file ' + i);
            getSignedRequest(file);
        }
    }


    /*
       Bind listeners when the page loads.
    */
    $(document).ready( function() {
        $('#startUpload').on('click', initUpload);
    });

    </script>
{% endblock %}