{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello</h1>
            <p>Here are the files we have stored in the cloud</p>
            <br />
            <a href="{% url 'drinking_gourd:direct' %}">
                <button class="btn btn-primary">
                    Upload Files
                </button>
            </a>
        </div>
        {% include 'partials/file_table.html' %}
    </div>
</div>

{% endblock %}